
# Formspree Configuration for Contact Form (GitHub Pages friendly)
# Get your ID at https://formspree.io/
NEXT_PUBLIC_FORMSPREE_ID=""
FORMSPREE_PROJECT_ID=""
FORMSPREE_DEPLOY_KEY=""
# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-auth-domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-storage-bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=your-app-id
